/* hover over card  */
.card:hover .deleteImg {
  opacity: 0.5;
}

/* hover over summoner */
.summonerName:hover ~ .deleteImg {
  opacity: 0;
}

/* hover over icon */
.icon:hover:not(.card:hover) {
  opacity: 1;
  cursor: pointer;
}

/* click on icon */
.icon:active {
  background-color: var(--light-yellow);
}

.card {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
